* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --light-gray: #E8E9EC;
}

body {
  height: calc(100vh - 173px);
  width: 100vw;
  margin-top: 173px;
  background: url(./images/bg-pattern-top.svg) -250px -530px no-repeat,
              url(./images/bg-pattern-bottom.svg) 650px 400px no-repeat,
              var(--dark-cyan);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  transition: background 1s ease-in-out;
}

.card {
  background: url(./images/bg-pattern-card.svg) top center no-repeat, #fff;
  max-width: 350px;
  height: 374px;
  padding-top: 87px;
  border-radius: 15px;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__photo {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 13px;
}

.card p {
  width: 100%;
  text-align: center;
  line-height: 28px;
}

.card__name {
  font-weight: 700;
}

.card__age {
  color: var(--dark-gray);
}

.card__location {
  font-size: 14px;
  color: var(--dark-gray)
}

.card__stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 88px;
  border-top: 1px solid var(--light-gray);
  margin-top: 24px;
}

.stats__followers,
.stats__likes,
.stats__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stats__followers:hover,
.stats__likes:hover,
.stats__photos:hover {
  scale: 1.3;
  transition: scale 0.05s ease-in-out;
}

.stats__number {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-top: -5px;
  margin-bottom: 9px;
  color: var(--very-dark-desaturated-blue);
}

.stats__label {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1.5px;
  color: var(--dark-gray);
}

.attribution {
  align-self: flex-end;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: #eee;
}

.attribution a {
  color: #fff;
}

@media screen and (max-width: 375px) {
  body {
    height: calc(100vh - 147px);
    margin-top: 147px;
    background: url(./images/bg-pattern-top.svg) -675px -650px no-repeat,
    url(./images/bg-pattern-bottom.svg) 100px 325px no-repeat,
    var(--dark-cyan);
  }

  .card {
    max-width: 326px;
    max-height: 374px;
  }
}